* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navbar {
  margin: 10px 75px;
}
.navA {
  color: #4a556c;
  text-align: right;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-decoration: none;
}
.navButton {
  color: #fff;
  text-align: right;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  padding: 11px 16px;
  border-radius: 4px;
  background: #20ad96;
  border: none;
}
.navA:hover {
  color: rgb(96, 158, 189);
}
